<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
	<title></title>
	<link rel="stylesheet" href="/client/static/libs/h5-base.css">
	<script type="text/javascript" src="/client/static/libs/h5-base.js"></script>
</head>
<body>
	<div class="tab">注&nbsp;&nbsp;册</div>

	<section>
		<input type="text" placeholder="邮&nbsp;&nbsp;箱">
		<input type="password" placeholder="密&nbsp;&nbsp;码">
		<input type="password" placeholder="确认密码">
	</section>

	<div class="button login">注&nbsp;&nbsp;册</div>
</body>
<script type="text/javascript" src="/client/build/register.js"></script>
</html>
