<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
	<title></title>
	<link rel="stylesheet" href="/client/static/libs/h5-base.css">
	<script type="text/javascript" src="/client/static/libs/h5-base.js"></script>
</head>
<body>
	<div class="tab">注&nbsp;&nbsp;册</div>

	<form>
		<div class="input-wrap">
			<i></i>
			<input type="text" name="email" value="" placeholder="邮箱">
		</div>
		<div class="input-wrap">
			<i class="pass"></i>
			<input type="password" name="password" value="" maxlength="8" placeholder="密码">
		</div>
		<div class="input-wrap">
			<i class="pass"></i>
			<input type="password" name="password2" value="" maxlength="8" placeholder="确认密码">
		</div>
	</form>

	<div class="button login">注&nbsp;&nbsp;册</div>
</body>
<script type="text/javascript" src="/client/build/register.js"></script>
</html>
