<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
	<title>登录</title>
	<link rel="stylesheet" href="/client/static/libs/h5-base.css">
	<script type="text/javascript" src="/client/static/libs/h5-base.js"></script>
</head>
	<body>
		<div style="margin:2rem auto;font-size:.5rem;text-align:center">Hello,大家好，我是首页!</div>
	</body>
	<script type="text/javascript" src="/client/build/js/home.js"></script>
</html>
