.button{
  width: 5.6rem;
  height: .8rem;
  margin: .8rem auto;
  line-height: .8rem;
  text-align: center;
  color: #fff;
  font-size: .28rem;
  background-color: #06eade;
  border-radius: .05rem;
}
